<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Changer</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
   
</head>
<body>

    <div class="container" id="green">
        <img src="../assets/images/green.png">
    </div>

    <div class="container" id="purpule">
        <img src="../assets/images/purpule.png">
    </div>

    <div class="container" id="red">
        <img src="../assets/images/red.png">
    </div>

    <button class='btn btn-1'></button>
    <button class='btn btn-2'></button>
    <button class='btn btn-3'></button>

</body>
<script src="../../assets/js/main.js"></script> 
</html>